/* Efecto de borde con estrella fugaz en movimiento */
.cardindex {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(14, 100, 247, 0.603);
    background-color: rgba(3, 10, 22, 0.911);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: default;
}

.cardindex::before {
    content: '';
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border-image: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    border-image-slice: 1;
    animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
    25% {
        border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
    50% {
        border-image-source: linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
    75% {
        border-image-source: linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
    100% {
        border-image-source: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
}

/* Estilo expandido */
.cardindex.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 1000;
    overflow-y: auto; /* Para permitir el desplazamiento si el contenido es demasiado grande */
    background-color: rgba(3, 10, 22, 0.98); /* Ajuste para mayor contraste */
    padding: 20px;
}

/* Otros estilos */
.cardindex-header,
.cardindex-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #fff;
    padding: 15px;
}

.cardindex-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.cardindex-title span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.cardindex-body {
    padding: 0 20px 20px 20px;
    color: #fff;
}

.cardindex-img-overlay {
    background-color: rgba(38, 120, 226, 0.6);
}

#totalBlockedRequest {
    color: #fff;
}


/*--------------------------------------------------------------
# Footer index
--------------------------------------------------------------*/
.footerindex {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
    text-align: center;
  }
  
  .footerindex .copyright {
    text-align: center;
    color: #fff;
  }
  
  .footerindex .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }




/*------------------SIDEBARD---------------*/
.sidebar-bg-container {
    position: relative;
    width: 100%;
    height: 50%;
  }
  
  .sidebar-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ajusta el tamaño de la imagen según sea necesario */
    opacity: 0.1; /* Ajusta la opacidad para dar efecto de marca de agua */
    filter: drop-shadow(0 0 1px rgb(36, 17, 202));
    animation: neon-border 2s infinite alternate;
  }
  
  @keyframes neon-border {
    0% {
      filter: drop-shadow(0 0 2px #ffffff);
    }
    50% {
      filter: drop-shadow(0 0 2px #070707);
    }

  }
  
  
 .badge-number {
    background: #fff !important;
    color: darkblue;
 }
 .badge-number:hover {
    background: rgb(23, 23, 206) !important;
    color: #fff;
 }

.dropdown-toggle:hover {
text-shadow: 0 0 5px rgb(217, 217, 218);
}

.logoheader {
    filter: drop-shadow(0 0 1px rgb(23, 23, 206));
    animation: neon-border 5s infinite alternate;
}

/* Botón Flotante de WhatsApp */
.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 18px;
    right: 75px;
    background: linear-gradient(135deg, #0d1b30 25%, #043e94 100%); /* Cambia el color a un azul más claro */
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }
  
  .whatsapp-float:hover {
    background-color: #fff;
    color: #fff;
    transform: scale(1.1);
  }
  
  .whatsapp-float .whatsapp-icon {
    font-size: 24px;
  }


  .fondoperfil {
    background: linear-gradient(135deg, #0d1b30 25%, #043e94 100%); /* Cambia el color a un azul más claro */
    color:#fff
  }
  .fondoperfil h6{
    color:#fff !important
  }
  .fondoperfil span{
    color:#fff
  }
  .fondoperfil i{
    color:#fff
  }
  .fondoperfil i:hover{
    color:#0d1b30 !important
  }
  .fondoperfil span:hover{
    color:#0d1b30 !important
  }
  .fondoperfil a:hover{
    color:#0d1b30 !important
  }

  .cardindexscore {
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(14, 100, 247, 0.603);
    background-color: rgba(3, 10, 22, 0.911);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: default;
  }
  
  .cardindexscore::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: 2px solid transparent;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgb(9, 45, 105), rgba(0, 0, 0, 0));
    background-clip: padding-box;
    animation: borderAnimation 5s linear infinite;
  }
  
  @keyframes borderAnimation {
    0% {
      border-image-source: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
    50% {
      border-image-source: linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
    100% {
      border-image-source: linear-gradient(225deg, rgba(0, 0, 0, 0), rgba(14, 100, 247, 1), rgba(0, 0, 0, 0));
    }
  }
  
  .cardindex-titlescore {
    padding: 40px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff !important;
    font-family: "Poppins", sans-serif;
    text-align: left;
    z-index: 99;
  }
  
  .cardindex-titlescore span {
    color: #fff;
    font-size: 14px;
    font-weight: bold 400;
  }
  
  .cardindex-bodyscore {
    height: 65px;
    padding: 0 20px 20px 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .progress-circle {
    top:-60px;
    right: -150px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#4caf50 0%, #ddd 0%);
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: background 1s ease-in-out;
    animation: rotateCircle 5s linear infinite;
  }
  
  @keyframes rotateCircle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .progress-text {
    top:18px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    z-index: 99;
  }
  
  .low-score {
    background: conic-gradient(#f44336 0%, #ddd 0%);
  }
  
  .mid-score {
    background: conic-gradient(#ffeb3b 0%, #ddd 0%);
  }
  
  .high-score {
    background: conic-gradient(#4caf50 0%, #ddd 0%);
  }
  
  .progress-circle::before {
    content: '';
    top: -60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .progress-circle::after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #222;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes progressAnimation {
    from {
      background: conic-gradient(#4caf50 0%, #ddd 0%);
    }
    to {
      background: conic-gradient(#4caf50 var(--percentage), #ddd var(--percentage));
    }
  }
  
  