:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: rgb(243, 243, 243);
  color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.video-background {
  filter: opacity(0);
}

.loginvideo, .video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  background: #000;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

a {
  color: #333333; /* Gris oscuro */
  text-decoration: none;
}

a:hover {
  color: #000000; /* Negro */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  color: #333333; /* Gris oscuro */
}

#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

.pagetitle {
  margin-bottom: 10px;
  align-content: center;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 900;
  color: #333333; /* Gris oscuro */
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
  background: #0056b3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.4s, transform 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-top i {
  font-size: 32px;
  color: #fff; /* Gris oscuro */
  transition: transform 0.2s;
}

.back-to-top:hover {
  background: #fff; /* Gris oscuro */
  transform: translateY(-5px);
}

.back-to-top:hover i {
  transform: scale(1.1);
  color: #0056b3;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.bi-moon::before {
  color: #fff;
}
.bi-sun::before {
  color: #fff;
}
.bellnotification::before {
  color: #fff;
}
.bi-chat-left-text::before {
  color: #fff;
}

.card {
  background-color: #f0f0f0; /* Gris claro */
  color: #333333; /* Gris oscuro */
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1); /* Sombra más ligera */
}

.card-header, .card-footer {
  background-color: #ffffff;
  color: #333333; /* Gris oscuro */
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #333333; /* Gris oscuro */
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #666666; /* Gris medio */
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

.credits {
  color: #333333; /* Gris oscuro */
}

.credits a {
  color: #4a87d8; /* Azul apagado */
}

.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #333333; /* Gris oscuro */
  background-color: #e0e0e0; /* Gris claro */
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: #f0f0f0; /* Gris claro */
  border: 0;
}

.accordion-flush .accordion-body {
  background: #f0f0f0; /* Gris claro */
  padding: 0 0 15px 0;
  color: #333333; /* Gris oscuro */
  font-size: 15px;
}

.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #4a87d8; /* Gris oscuro */
  font-weight: 600;
  z-index:50;
}

.breadcrumb a {
  color: #4a87d8 !important; /* Gris oscuro */
  transition: 0.3s;
  z-index: 100;
}

.breadcrumb a:hover {
  color: #000000; /* Negro */
  z-index: 100;
}

.breadcrumb .breadcrumb-item::before {
  color: #4a87d8; /* Gris medio */
  z-index: 100;
}

.breadcrumb .active {
  color: #666666; /* Gris medio */
  font-weight: 600;
  z-index: 100;
}

.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #333333; /* Gris oscuro */
}

.nav-tabs-bordered .nav-link:hover, .nav-tabs-bordered .nav-link:focus {
  color: #000000; /* Negro */
}

.nav-tabs-bordered .nav-link.active {
  background-color: #ffffff;
  color: #000000; /* Negro */
  border-bottom: 2px solid #000000; /* Negro */
}

.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.nombrelogin {
  font-size: 26px;
  font-weight: 700;
  color: #333333 !important; /* Gris oscuro */
  font-family: "Nunito", sans-serif;
  margin-left: 6px;
}

.creditslogin {
  color: #333333; /* Gris oscuro */
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #ffff; /* Gris oscuro */
  text-shadow: 0 0 5px #000;
  font-family: "Nunito", sans-serif;
  margin-left: 6px;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0056b3; /* Gris claro */
  box-shadow: none; /* Sin sombra */
  font-family: 'Roboto', sans-serif;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #ffff; /* Gris oscuro */
}





.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #fff; /* Gris oscuro */
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #000000; /* Negro */
}

.header-nav .nav-profile img {
  max-height: 36px;
  border-style: solid;
  border-width: 1px;
  border-color: #dcdcdc; /* Gris claro */
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
  background: #333333; /* Gris oscuro */
  color: #ffffff; /* Blanco */
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
  background: #f0f0f0; /* Cambia el color a un azul más claro */
  color: #000;
}

.header-nav .notifications  a {
  inset: 8px -15px auto auto !important;
  color:#000;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
  color:#000;

}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
  color:#000;

}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
    color:#000;

}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color:#333;
}

.header-nav .notifications .notification-item:hover {
  background-color: #0056b3;
  color: #fff !important;
}
.header-nav .notifications .notification-item:hover h4{
  color: #fff !important;
}
.header-nav .notifications .notification-item:hover p{
  color: #fff !important;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
  background: #f0f0f0; /* Cambia el color a un azul más claro */
  color:#000;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
  color:#000;

  
  
}

.header-nav .messages .message-item a {
  display: flex;
    color:#000;

}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color:#000;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color:#333;
}
.header-nav .messages  a {
  font-size: 13px;
  margin-bottom: 3px;
  color:#333;
}

.header-nav .messages .message-item:hover {
  background-color: #0056b3;
}
.header-nav .messages .message-item:hover h4 {
color: #fff;
}
.header-nav .messages .message-item:hover p{
  color: #fff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
  background: #f0f0f0; 
  color: #000;

}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color:#000;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
  color:#000 !important;

}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
  color:#000;

}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
  color:#000;

}
.header-nav .profile .dropdown-item span {

  color:#000;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #0056b3;
  color: #000;
}
.header-nav .profile .dropdown-item:hover  i{
  color: #fff;
}
.header-nav .profile .dropdown-item:hover span{
  color: #fff;
}



.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #84868abb transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background: #eeeeee; /* Gris claro */
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #84868a;
  border-radius: 10px;
}

@media (min-width: 1200px) {
  #main, #footer {
    margin-left: 300px;
    transition: margin-left 0.3s ease-in-out;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar #main, .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 12px;
  text-transform: uppercase;
  color: #007bff; /* Gris oscuro */
  font-weight: 700;
  margin: 15px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #333333; /* Gris oscuro */
  transition: background 0.3s ease, color 0.3s ease;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 18px;
  margin-right: 10px;
  color: #0056b3; /* Gris oscuro */
  transition: color 0.3s ease;
}

.sidebar-nav .nav-link.collapsed {
  color: #333333; /* Gris oscuro */
}

.sidebar-nav .nav-link:hover {
  color: #0056b3; /* Azul oscuro */
}

.sidebar-nav .nav-link:hover i {
  color: #0056b3; /* Negro */
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #333333; /* Gris oscuro */
  padding: 10px 0 10px 40px;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar-nav .nav-content a i {
  margin-right: 15px;
  color: #0056b3; /* Azul oscuro */
}

.sidebar-nav .nav-content a:hover i {
  color: #ffffff; /* Blanco */
}

.sidebar-nav .nav-content a:hover, .sidebar-nav .nav-content a.active {
  color: #ffffff; /* Blanco */
  background: #4a87d8; /* Azul oscuro */
}


.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #0000; /* Gris medio */
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover, .dashboard .filter .icon:focus {
  color: #000000; /* Negro */
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #666666; /* Gris medio */
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #333333; /* Gris oscuro */
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888888; /* Gris claro */
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #ffffff; /* Blanco */
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #333333; /* Gris oscuro */
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #000000; /* Negro */
}

.dashboard .news p {
  font-size: 14px;
  color: #777777; /* Gris medio */
  margin-left: 95px;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #ffffff; /* Blanco */
  border-radius: 0.25rem;
  text-align: center;
  color: #333333; /* Gris oscuro */
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666666; /* Gris medio */
}

.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333333; /* Gris oscuro */
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: #666666; /* Gris medio */
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #333333; /* Gris oscuro */
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #333333; /* Gris oscuro */
}

.profile .profile-overview .label {
  font-weight: 600;
  color: #666666; /* Gris medio */
}

.profile .profile-edit label {
  font-weight: 600;
  color: #666666; /* Gris medio */
}

.profile .profile-edit img {
  max-width: 120px;
}

.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #000000; /* Negro */
}

.faq .basic p {
  color: #666666; /* Gris medio */
}

.contact .info-box {
  padding: 28px 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #000000; /* Negro */
}

.contact .info-box h3 {
  font-size: 20px;
  color: #333333; /* Gris oscuro */
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form .error-message {
  display: none;
  color: #ffffff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #ffffff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #ffffff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eeeeee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #333333; /* Gris oscuro */
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #0056b3; /* Gris oscuro */
  border: 0;
  padding: 10px 30px;
  color: #ffffff; /* Blanco */
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #007bff; /* Negro */
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #000000; /* Negro */
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333333; /* Gris oscuro */
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #666666; /* Gris medio */
  color: #ffffff; /* Blanco */
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #4d4d4d; /* Gris más oscuro */
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #333333; /* Gris oscuro */
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #333333; /* Gris oscuro */
}

.cardindex {
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
  background: #ffffff; /* Gris claro */
  color: #000;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: default;
}

.cardindex.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0;
  z-index: 1000;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px;
}

.cardindex-header, .cardindex-footer {
  background-color: #ffffff;
  color: #000000; /* Negro */
  padding: 15px;
}

.cardindex-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #333333; /* Gris oscuro */
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.cardindex-title span {
  color: #000000; /* Negro */
  font-size: 14px;
  font-weight: 400;
}

.cardindex-body {
  padding: 0 20px 20px 20px;
  color: #333333; /* Gris oscuro */
  text-align: center;
}

.cardindex-img-overlay {
  background-color: rgba(38, 120, 226, 0.6);
}

#totalBlockedRequest {
  color: #000000; /* Negro */
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #333333; /* Gris oscuro */
  background-color: #ffffff; /* Blanco */
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(14, 100, 247, 0.1); /* Sombra más ligera */
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: default;
}

.table thead th {
  vertical-align: bottom;
  background: #ffffff; /* Gris claro */
  text-align: center;
  align-content: center;
  padding: 0.75rem;
  font-weight: bold;
  color: #333333; /* Gris oscuro */
  text-transform: uppercase;
}

.table tbody tr {
  border-top: 1px solid #d3d3d3;
  transition: background-color 0.5s ease-in-out, transform 0.15s ease-in-out;
}

.table tbody tr:hover {
  background: #dcdcdc; /* Gris claro */
  transform: scale(1.02);
}

.table tbody td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #d3d3d3;
  color: #333333; /* Gris oscuro */
  transition: color 0.5s ease-in-out;
  background: #f0f0f0; /* Gris claro */
}

@media (max-width: 767.98px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive > .table-bordered {
    border: 0;
  }
}

.footerindex {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
  text-align: center;
}

.footerindex .copyright {
  text-align: center;
  color: #333333; /* Gris oscuro */
}

.footerindex .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #333333; /* Gris oscuro */
}



.sidebar-bg {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 180%; /* Ajusta el tamaño de la imagen según sea necesario */
  opacity: 0.07; /* Ajusta la opacidad para dar efecto de marca de agua */
  z-index: -10;

}

.badge-number {
  background: #ffff !important; /* Gris oscuro */
  color: #0000 !important; /* Blanco */
}

.badge-number:hover {
  background: #ffffff !important; /* Blanco */
  color: #0000 !important; /* Gris oscuro */
}

.dropdown-toggle:hover {
  text-shadow: none; /* Sin sombra de texto */
}

.logoheader {
  filter: brightness(1);
}

.whatsapp-float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 18px;
  right: 75px;
  background-color: #0056b3;
  color: white;
  border-radius: 100%;
  padding: 10px;
  font-size: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-text {
  visibility: hidden;
  background-color: #4a87d8;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: calc(-100% - 20px); /* Aparecerá a la izquierda */
  transform: translateY(-200%); /* Centrado verticalmente */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, left 0.3s ease;
  white-space: nowrap; /* Mantener el texto en una línea */
  font-size: 12px;
}

.whatsapp-float:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  left: calc(-100% - 15px); /* Desplazar ligeramente el tooltip cuando esté visible */
}

.whatsapp-icon {
  font-size: 30px;
  color: #fff;
}



.fondoperfil {
  background: #f0f0f0; /* Gris claro */
  color: #333333; /* Gris oscuro */
}

.fondoperfil h6 {
  color: #333333 !important; /* Gris oscuro */
}

.fondoperfil span {
  color: #333333; /* Gris oscuro */
}

.fondoperfil i {
  color: #333333; /* Gris oscuro */
}

.fondoperfil i:hover {
  color: #d3d3d3 !important; /* Gris claro */
}

.fondoperfil span:hover {
  color: #d3d3d3 !important; /* Gris claro */
}

.fondoperfil a:hover {
  color: #d3d3d3 !important; 
}

.cardindexscore {
  margin-bottom: 30px;
  border: none;
  border-radius: 15px;
  background: #ffff; 
  position: relative;
  overflow: hidden;
  cursor: default;
  align-content: center;
  width: auto;
  display: flex;
  justify-content: center;
}

.cardindexscore.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%) scale(1.5);
  margin: 0;
  border-radius: 0;
  z-index: 1000;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.cardindex-titlescore {
  font-size: 30px;
  font-weight: 700;
  color: #333333 !important; /* Gris oscuro */
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
}

.cardindex-bodyscore {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  color: #333333 !important; /* Gris oscuro */
}

.progress-bar-container {
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.shield {
  margin-right: -10px;
  width: 70%;
  height: 70%;
}

.progress-text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #333333; /* Gris oscuro */
  margin-right: 50px;
}

@media (max-width: 600px) {
  .cardindexscore {
    width: 100%;
    margin-bottom: 20px;
  }

  .cardindexscore.expanded {
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%) scale(1);
    padding: 10px;
  }

  .cardindex-titlescore {
    font-size: 20px;
  }

  .cardindex-bodyscore {
    padding: 5px;
  }

  .progress-bar-container {
    width: 80px;
    height: 60px;
  }

  .progress-text {
    font-size: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .cardindexscore {
    width: 100%;
    margin-bottom: 25px;
  }

  .cardindexscore.expanded {
    width: 85%;
    height: 85%;
    transform: translate(-50%, -50%) scale(1.2);
    padding: 15px;
  }

  .cardindex-titlescore {
    font-size: 25px;
  }

  .cardindex-bodyscore {
    padding: 5px;
  }

  .progress-bar-container {
    width: 90px;
    height: 70px;
  }

  .progress-text {
    font-size: 25px;
    margin-right: 30px;
  }
}

@media (min-width: 1025px) {
  .cardindexscore {
    width: 100%;
    margin-bottom: 30px;
  }

  .cardindexscore.expanded {
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%) scale(1.5);
    padding: 20px;
  }

  .cardindex-titlescore {
    font-size: 30px;
  }

  .cardindex-bodyscore {
    padding: 10px;
  }

  .progress-bar-container {
    width: 100px;
    height: 80px;
  }

  .progress-text {
    font-size: 28px;
    margin-right: 40px;
  }
}

@keyframes glowing-red {
  0% {
    fill: #ff0000; /* Rojo */
    filter: drop-shadow(0 0 5px #ff0000); /* Rojo */
  }
  50% {
    fill: #cc0000; /* Rojo oscuro */
    filter: drop-shadow(0 0 20px #ff0000); /* Rojo */
  }
  100% {
    fill: #ff0000; /* Rojo */
    filter: drop-shadow(0 0 5px #ff0000); /* Rojo */
  }
}

@keyframes glowing-yellow {
  0% {
    fill: #ffff00; /* Amarillo */
    filter: drop-shadow(0 0 5px #ffff00); /* Amarillo */
  }
  50% {
    fill: #cccc00; /* Amarillo oscuro */
    filter: drop-shadow(0 0 20px #ffff00); /* Amarillo */
  }
  100% {
    fill: #ffff00; /* Amarillo */
    filter: drop-shadow(0 0 5px #ffff00); /* Amarillo */
  }
}

@keyframes glowing-green {
  0% {
    fill: #00ff00; /* Verde */
    filter: drop-shadow(0 0 5px #00ff00); /* Verde */
  }
  50% {
    fill: #00cc00; /* Verde oscuro */
    filter: drop-shadow(0 0 20px #00ff00); /* Verde */
  }
  100% {
    fill: #00ff00; /* Verde */
    filter: drop-shadow(0 0 5px #00ff00); /* Verde */
  }
}

.glowing-red {
  animation: glowing-red 3s infinite alternate;
}

.glowing-yellow {
  animation: glowing-yellow 3s infinite alternate;
}

.glowing-green {
  animation: glowing-green 3s infinite alternate;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.spinner-image {
  width: 200px;
  height: 250px;
  animation: techEffect 2s linear infinite;
  filter: none; /* Sin sombra */
}

@keyframes techEffect {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  25% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Estilo para el modal */
.custom-modal {
  display: none; /* Ocultar por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(3, 14, 31); /* Fondo del mismo color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal-content {
  background-color: rgb(3, 14, 31);
  padding: 60px;
  border: none;
  width: auto;
  height: auto;
  color: #e9ecef;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  top: 100px ;
}

/* Estilos generales para el modal */
.modal .modal-content {
  background-color: #f8f9fa; /* Fondo claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
  border: none; /* Sin borde */
}

.modal .modal-header {
  background-color: #007bff; /* Fondo azul para el encabezado */
  color: #fff; /* Texto blanco */
  border-bottom: 2px solid #0056b3; /* Línea inferior */
  border-top-left-radius: 8px; /* Bordes superiores redondeados */
  border-top-right-radius: 8px;
}

.modal .modal-title {
  font-weight: bold; /* Negrita para el título */
  font-size: 20px; /* Tamaño de fuente mayor */
}

.modal .btn-close {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  color: #fff; /* Ícono de cierre blanco */
}

.modal .modal-body {
  padding: 20px; /* Espaciado interno */
  background-color: #ffffff; /* Fondo blanco */
}

.modal .form-label {
  font-weight: bold; /* Negrita para etiquetas de formulario */
  color: #495057; /* Color de texto gris oscuro */
}

.modal .form-control {
  border-radius: 4px; /* Bordes redondeados en los campos de formulario */
  border: 1px solid #ced4da; /* Borde gris */
}

.modal .form-select {
  border-radius: 4px; /* Bordes redondeados en los select */
  border: 1px solid #ced4da; /* Borde gris */
}

.modal .modal-footer {
  background-color: #f1f1f1; /* Fondo gris claro */
  border-top: 1px solid #e9ecef; /* Línea superior */
  padding: 15px; /* Espaciado interno */
  border-bottom-left-radius: 8px; /* Bordes inferiores redondeados */
  border-bottom-right-radius: 8px;
}

.modal .btn-secondary {
  background-color: #6c757d; /* Fondo gris para el botón "Close" */
  border-color: #6c757d; /* Borde gris */
}

.modal .btn-primary {
  background-color: #007bff; /* Fondo azul para el botón "Save changes" */
  border-color: #007bff; /* Borde azul */
}

body.modal-open {
  overflow: hidden;
}

.hack-mode-container {
  display: flex;
  align-items: center;
}

.hack-mode-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease; /* Transición para el cambio de color */
}

.hack-mode-icon.active {
  color: #333333; /* Gris oscuro */
}

.hack-mode-icon.inactive {
  color: #666666; /* Gris medio */
}

.form-check-label {
  color: #fff; /* Gris oscuro */
}

.btn-outline-primary {
  --bs-btn-color: #333333; /* Gris oscuro */
  --bs-btn-border-color: #333333; /* Gris oscuro */
}

#user-department {
  color: #fff;
  display: none;
}

.modern-select {
  appearance: none;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ced4da;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  color: #212529; /* Texto en negro */
  outline: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.modern-select:focus {
  border-color: #80bdff;
  background-color: #e9ecef;
}

.modern-select option {
  background-color: #ffffff;
  color: #212529; /* Texto en negro */
  padding: 10px;
}

.modern-select:hover {
  background-color: #f1f3f5;
}

.modern-select:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
  color: #adb5bd;
}

.principiotabla{

  background: #fff !important;
}

/* Navbar */
.nav {
  background: #eeeeee ;
  color: #343a40 !important;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
}

.nav-link {
  color: #000 !important;
}

.navlink:hover {
  border: none;
  color: #4a87d8;
}

.nav-itemt a {
  color: #343a40;
  padding: 10px;
}

.nav-itemt a:focus {
  padding: 10px;
}

.nav-link:active {
  color: #4a87d8 !important;
  padding: 10px;
}

.nav-pills .nav-link.active {
  color: #fff !important;
  background-color: #0056b3;
}




/* Tabs */
.tab-content {
  background: #eeeeee ;
  border-radius: 5px;
  color: #333;
  padding: 15px;
  align-items: center;
}

.nav-tabs .nav-link {
  border: none;
  color: #495057;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #0056b3;
}

/* Responsive Tabs */
@media (max-width: 768px) {
  .tab-content {
    padding: 10px;
    text-align: center;
  }

  .nav-tabs .nav-link {
    font-size: 0.875rem;
  }
}

/* Table Policy */
.tablepolicy {
  width: 100%;
  border-collapse: collapse;
}

.tablepolicy thead th {
  vertical-align: bottom;
  background-color: #ffff;
  border: none;
  text-align: center;
  align-content: center;
  padding: 0.75rem;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
}

.tablepolicy tbody tr {
  background-color: #eeee;
  color: #212529; /* Texto en negro */
  text-align: center;
  border-bottom: 1px solid #ced4da;
}

.tablepolicy tbody tr:hover {
  background-color: #e9ecef;
}

.tablepolicy tbody td {
  padding: 0.75rem;
  border: none;
  vertical-align: middle;
  text-align: center;
}

/* Responsive Table Policy */
@media (max-width: 768px) {
  /* Hacer que la tabla sea de bloque en pantallas más pequeñas */
  .tablepolicy, .tablepolicy tbody, .tablepolicy tr, .tablepolicy td {
    display: block;
    width: 100%;
  }
  
  .tablepolicy thead {
    display: none; /* Ocultar encabezados de tabla en móviles */
  }
  
  .tablepolicy tbody td {
    display: block;
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ced4da;
    position: relative;
    padding-left: 50%;
  }
  
  /* Mostrar el encabezado correspondiente como un pseudoelemento antes del contenido */
  .tablepolicy tbody td::before {
    content: attr(data-label); /* Usa los datos-label para mostrar el nombre de la columna */
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

/* Buttons */
.tablepolicy tbody td .btn {
  color: #ffffff;
  background-color: #0056b3;
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 0 5px;
  cursor: pointer;
}

.tablepolicy tbody td .btn:hover {
  background-color: #0056b3;
  color: #fff;
}

.tablepolicy tbody td .btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #80bdff;
}

.tablepolicy tbody td .btn-outline-primary {
  color: #ffffff;
  border: 1px solid #0056b3;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.tablepolicy tbody td .btn-outline-primary:hover {
  background-color: #e9f1ff;
  color: #0056b3;
}

/* Responsive Buttons */
@media (max-width: 768px) {
  .tablepolicy tbody td .btn {
    font-size: 0.75rem;
    padding: 4px 8px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }

  .tablepolicy tbody td .btn-outline-primary {
    padding: 4px 8px;
    margin: 5px 0;
    width: 100%;
  }
}

/* Extra Small Screens */
@media (max-width: 576px) {
  .tablepolicy tbody td {
    padding-left: 40%;
  }

  .tablepolicy tbody td::before {
    padding-left: 10px;
  }

  .tablepolicy tbody td .btn {
    font-size: 0.7rem;
    padding: 4px 6px;
  }
}


/* Modern Button */
.btn-check {
  display: none;
}

.btn-outline-light {
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
  border: 1px solid rgba(0, 123, 255, 0.5);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.btn-outline-light:hover {
  background-color: rgba(0, 123, 255, 0.3);
  color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 123, 255, 0.5);
}

.btn-outline-light:active {
  background-color: rgba(0, 123, 255, 0.5);
  color: #ffffff;
  transform: scale(1.05);
}

.btn-check:checked + .btn-outline-light {
  background-color: rgba(0, 123, 255, 0.9);
  color: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 123, 255, 1);
}

/* Form Check */
.form-check {
  display: flex;
  align-items: center;
  text-align: center;
}

.form-check-input {
  margin-right: 8px; /* Space between checkbox and label */
}

/* Modal */
.unique-modal-content {
  background-color: #ffffff; 
  border-radius: 10px;
  border: none;
  color: #343a40; /* Texto en negro */
}

.unique-modal-header {
  border-bottom: none;
  background-color: #f8f9fa;
  color: #343a40; /* Texto en negro */
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.unique-modal-body {
  padding: 20px;
  font-size: 16px;
  line-height: 1.6;
  background-color: #ffffff;
  color: #343a40; /* Texto en negro */
}

.unique-modal-footer {
  border-top: none;
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Unique button */
.unique-btn-primary {
  background-color: #0056b3;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.unique-btn-primary:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
.cardindex {
  width: 90%;
}
}

@media (max-width: 576px) {
.cardindex {
  width: 100%;
  margin: 0 10px;
}

.logo img {
  max-width: 150px;
}

.btn-group label {
  font-size: 14px;
}
}

#importPoliciesBtn {
  color: #0056b3;
  background-color: #fff;
  border: none;
}
#generateReportBtn {
  color: #0056b3;
  background-color: #fff;
  border: none;
}

#addpolicybutton {
  color: #0056b3;
  background-color: #fff !important;
  border: none;
}

.existing-policies {
  font-size: larger;
  font-weight: bold;
  color: #0056b3 !important;
}


#totalBlockedRequest,
#blockedRequestsByCategor,
#blockRateOverTimeByCategor,
#severit,
#SeverityTim,
#totalAbusiveUsersChar,
#hallucinationChar,
#biasPieChar,
#promptInjectionChar,
#dataExposureLineChar {
  scroll-margin-top: 80px; /* Ajusta el valor según la altura de la barra de navegación */
}

#realtime,
#emotion,
#sentiment,
#conversation,
#engagement,
#keyword,
#biasdetect,
#prediction,
#biastrend {
  scroll-margin-top: 80px; /* Ajusta según la altura de tu navbar */
}

.language-switcher {
  
  position: absolute;
  top: 10px; /* Ajusta según necesites */
  right: 10px; /* Ajusta según necesites */
  display: flex;
  gap: 8px;
}

.language-flag {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%; /* Redondear las esquinas completamente */
  transition: transform 0.3s ease; /* Añadir un pequeño efecto */
  opacity: 0.30; /* Ajusta la opacidad para dar efecto de marca de agua */

}

.language-flag:hover {
  transform: scale(1.1); /* Efecto de agrandar al pasar el mouse */
}
.language-switcher2 {
  position: absolute;
  left: 10px; /* Ajusta según necesites */
  margin-top: 38%;
  display: flex;
  gap: 8px;

}

.language-flag2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%; /* Redondear las esquinas completamente */
  transition: transform 0.3s ease; /* Añadir un pequeño efecto */
  opacity: 0.20; /* Ajusta la opacidad para dar efecto de marca de agua */

}

.language-flag2:hover {
  transform: scale(1.1); /* Efecto de agrandar al pasar el mouse */
  opacity: 1; /* Ajusta la opacidad para dar efecto de marca de agua */

}


